* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
}

.background {
    height: 100vh;
    background: linear-gradient(to bottom right, #dce9e1, #b7d4c5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN CARD */
.login-card {
    width: 340px;
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    text-align: center;
}

.login-card h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

/* INPUTS */
.login-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* OPTIONS */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 20px;
}

.options a {
    text-decoration: none;
    color: #4a7c59;
}

/* BUTTONS */
.login-btn {
    width: 100%;
    padding: 12px;
    background: rgb(100, 227, 121);
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.divider {
    margin: 18px 0;
    font-size: 13px;
    color: #777;
}

.google-btn {
    width: 100%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    font-size: 14px;
}

/* SIGN UP */
.signup {
    margin-top: 18px;
    font-size: 13px;
}

.signup a {
    color: #4a7c59;
    text-decoration: none;
}
